<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>
<body>
    <header>
        <h1>Header</h1>
    </header>
    <div class="container">
        <div class="list-blog">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi sunt eveniet maxime magni in, nostrum
                facilis, temporibus, quam facere sint est blanditiis harum dicta. Tempore suscipit ut hic. Deleniti,
                qui.</p>
        </div>
        <!-- <div id="app" v-bind:style="{backgroundImage: background}"> -->
        <div id="app">
            <div class="cart">Giỏ hàng ({{store}})</div>
            <div class="product">
                <div class="product-image">
                    <div class="image">
                        <img :src="getProduct.image" alt="">
                    </div>
                </div>
                <div class="product-content">
                    <h3 class="title">
                        <a :href="url" :target="target">{{ title }}</a>
                    </h3>
                    {{check ? 'Đã kiểm tra' : 'Chưa kiểm tra'}}
                    <p class="brand">Thương hiệu: No brand</p>
                    <p v-if="getProduct.quantity > 0">Còn lại: {{getProduct.quantity}} Sản phẩm</p>
                    <p v-else>Hết hàng</p>

                    <div class="wrapper-price">
                        <div class="final-price">{{formatFinalPrice}}</div>
                        <div class="origin-price">{{formatOriginPrice}}</div>
                        <div class="sale-price">- {{sale*100}} %</div>
                    </div>
                    <div class="wrapper-color">
                        <div class="text">Màu sắc</div>
                        <div class="list-color">
                            <p class="color-text">{{getProduct.textColor}}</p>
                            <ul>
                                <!-- :class="{active: selectedProduct == index}" -->
                                <li 
                                v-for="(item, index) in listProductDetail"
                                @click="handleClickColor(index)"
                                :class="classActive(index)"
                                :key="index">
                                    <img :src="item.image" :alt="item.textColor">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="btn" style="display: flex">
                        <button 
                        class="add-to-cart"
                        @click="handleAddToCart">
                            Add to cart
                        </button>
                        <button 
                        class="add-to-cart"
                        @click="handleCancel">
                            Cancel
                        </button>
                    </div>
                </div>              
            </div>
            <div class="description">
                <ul class="extra-info">
                    <li v-for="item in listDesc">{{item}}</li>
                </ul>
                <h2>Chất liệu bền chặt&nbsp;</h2>
<!-- v-html -->
                <div v-html="description"></div>
            </div>
                
        </div>
    </div>
    <footer>
        <h1>Footer</h1>
    </footer>
</body>
<script src="main.js"></script>
</html>